/*
Theme Name: TNL V3
Theme URI: 
Author: Victor Chen, Xavier Wang, Eagle Lee
Author URI: 
Description: The News Lens Ver. 3
Version: 0.1
*/

#contact-form-1674 {
margin:0 11%;
}

.footer-list-inline {
padding-left:0 !important;
}

.footer-list-inline li {
float: left;
padding: 28px 3px !important;
}