.HolyGrail-body{background-color: white;}
.entry-content h3{
    font-size: 24px;
  margin: 10px 10% 10px 12%;
  /* font-size: 22px; */
  line-height: 40px;
  font-weight: bolder;
  }

#toTop {
  display:none;
  text-decoration:none;
  position:fixed;
  bottom:55px;
  right:10px;
  overflow:hidden;
  width:51px;
  height:51px;
  border:none;
  text-indent:100%;
  background:url("./img/ui.totop.png") no-repeat left top;
}

#toTopHover {
  background:url("./img/ui.totop.png") no-repeat left -51px;
  width:51px;
  height:51px;
  display:block;
  overflow:hidden;
  float:left;
  opacity: 0;
  -moz-opacity: 0;
  filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
  outline:none;
}


/*custome comment box count above page css */

.share {
  display: inline-block;

}

.share_size_large {
  width: 44px;
  vertical-align: top;
  margin-top: 7px;
}

.share__count {
  background-color: #fff;
  border: solid 1px #a5b1bd;
  border-radius: 3px;
  /* add in vendor rules */
  /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);*/
  /* add in vendor rules */
  color: #424a4d;
  float: left;
  font-weight: bold;
  margin-right: 10px;
  padding: 4px 10px;
  position: relative;
  text-align: center;
}

.share_size_large > .share__count {
  display: block;
  float: none;
  font-size: 14px;
  margin-right: 0;
  margin-bottom: 6px;
  padding: 6px;
}

.share__count:before, .share__count:after {
  content: '';
  display: block;
  height: 0;
  top: 50%;
  position: absolute;
  right: -14px;
  width: 0;
  margin-top: -6px;
}

.share_size_large > .share__count:before, .share_size_large > .share__count:after {
  content: '';
  display: block;
  height: 0;
  left: 50%;
  position: absolute;
  top: auto;
  width: 0;
}

.share__count:before {
  border: solid 7px transparent;
  border-color: transparent transparent transparent #a5b1bd;
}
    
.share_size_large > .share__count:before {
  border-color: #a5b1bd transparent transparent transparent;
  bottom: -14px;
  margin-left: -7px;
}

.share__count:after {
  border: solid 6px transparent;
  border-color: transparent transparent transparent #fff;
  right: -12px;
  margin-top: -5px;
}

.share_size_large > .share__count:after {
  margin-left: -6px;
  bottom: -12px;
  border-color: #fff transparent transparent transparent;
}

.share__btn {
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  /* add in vendor rules */
  /*box-shadow: inset 0 1px 3px rgba(255, 255, 255, 0.3), 0 1px 3px rgba(0, 0, 0, 0.15);*/
  /* add in vendor rules */
  color: #fff;
  display: inline-block;
  font-size: 13px;
  /*font-weight: bold;*/
  padding: 5px 10px;
  text-align: center;
  /*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);*/
  height:20px;
}

.share_size_large > .share__btn {
  padding: 0px 0;
  width: 44px;
}

.share_type_comment > .share__btn {
  background-color: #2784b9;
}

#hero a{color:#fff;}

iframe {
  max-width: 100% !important;
}

/*!
 * flyout-post-nav
 */
#next-post
{
    right:0px;
    box-shadow:0px 1px 1px #CFCFCF;
    -moz-box-shadow:0px 1px 1px #CFCFCF;
    -webkit-box-shadow:0px 1px 1px #CFCFCF;
    background: #fff;
}

#prev-post
{
    left:0px; 
    box-shadow:0px 1px 1px #CFCFCF;
    -moz-box-shadow:0px 1px 1px #CFCFCF;
    -webkit-box-shadow:0px 1px 1px #CFCFCF;
}

.next-post
{
    display:none;
    z-index:99999;
    position:fixed;
    overflow:hidden;
    background:#FFFFFF;
    border-style:solid;
    border-top: 3px solid #66c2ff;
}

    .next-post .clear-fix:after 
    {
        height:0;
        clear:both;
        content:" ";
        font-size:0;
        display: block;
        visibility: hidden;
    }

    * html .next-post .clear-fix             { zoom: 1; } 
    *:first-child+html .next-post .clear-fix { zoom: 1; }

    .next-post>div
    {
        height:100%;
        position:relative;
    }
    
        .next-post>div a.next-post-close-button
        {
            top:-11px;
            width:11px;
            height:11px;
            right:-11px;
            display:block;
            position:absolute;
            background-position:0px 0px;
            background-repeat:no-repeat;
            background-image:url('../img/close.png');
        }
        
            .next-post>div a.next-post-close-button:hover
            {
                background-position:0px -11px;
            }
    
        .next-post>div a.next-post-image
        {
            float:left;
            margin-right:20px;
        }
    
            .next-post>div a.next-post-image img
            {
                display:block;
                border-radius: 3px;
            }
    
        .next-post>div a.next-post-title,
        .next-post>div a.next-post-title:hover
        {
            display:block;
            text-decoration:none;
        }
        
        .next-post>div a.next-post-title:hover
        {
            text-decoration:underline;
        }

        .next-post>div p.next-post-excerpt
        {
            margin:0px;
            padding:0px;
            line-height:150%;
        }
        
        .next-post>div a.next-post-title+.next-post-excerpt
        {
            margin-top:10px;
        }
        
        .next-post>div h3.next-post-header
        {
            margin-bottom:10px;
        }


.next-post>div
{
    margin-top:15px;
    margin-right:15px;
    margin-bottom:15px;
    margin-left:15px;
}

.next-post
{
    border-top-width:3px;
    border-right-width:0px;
    border-bottom-width:0px;
    border-left-width:0px;
    border-top-color:#49A7ED;
}

.next-post>div h3.next-post-header
{
    color:#1D1D1D;
    font-size:18px;
    font-family:'Tahoma';
}

.next-post>div a.next-post-title,
.next-post>div a.next-post-title:hover
{

    font-size:16px;
    font-family:'Tahoma';

}

.next-post>div p.next-post-excerpt
{
    color:#888888;
    font-size:13px;
    font-family:'Tahoma';
}

.post-list-item h6.post_excerpt{
/* background-color: rgba(66, 139, 202, 0.83);
color: #fff !important;
text-align: center;
padding: 10px 25px;
text-shadow: 4px 4px 20px rgba(37, 117, 236, 1);
*/
}

iframe {
  margin: 0 auto !important;
}