html{
  width:100%;
}


body{
  font-family: Helvetica, Heiti TC, Segoe UI, "微軟正黑體";
  border-bottom: none;
}


/*search icon bar */
.photo-gallery{
}

.photo-gallery img{
  border-style: solid;
  border-width: 3px;
  border-color: rgba(0, 0, 0, 0);
}

.photo-gallery .wp-caption{
background-color: rgba(0, 0, 0, 0.69);
color: #fff;
margin: 24px auto;

}

.photo-gallery .wp-caption-text{

}
.photo-gallery .wp-custom-description{
  padding:100px;
}

.photo-gallery p{
  margin: 0px 13px;
font-size: 18px;
line-height: 40px;
}

#wrap {
  margin: 0;
  display: inline-block;
  position: relative;
  height: 60px;
  float: right;
  padding: 0;
  position: relative;
}





.main-content{
  margin:0 auto;
}

.main-nav{
  height: 50px;
  width: 100%;
  max-width: 1440px;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 99999;
  border-bottom: #ccc;
  border-bottom-style: solid;
  border-width: 1px;
  }

nav input[type="text"] {
  height: 21px;
  font-size: 16px;
  display: inline-block;
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  padding-right: 20px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

nav input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

nav input[type="text"]:focus {
  width: 200px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
  background-color: #fff;
}
#wrap input[type="submit"] {
  height: 18px;
  width: 18px !important;
  display: inline-block;
  color:red;
  float: right;
  background: #FFF url('http://www.thenewslens.com/wp-content/themes/newslens_v3/img/search-icon.png') center center no-repeat;

  background-size: 15px;
  width:0px;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.7;
  cursor: pointer;
  transition: opacity .4s ease;
}

#wrap input[type="submit"]:hover {
  opacity: 0.8;
}
/*end of search icon bar*/


li>p{
  margin-left: 10px;
}
abbr[title], abbr[data-original-title] {
  border-bottom: none;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  margin-left: 30px;
  }
.author-website{
  float:left;
}

.post-img{
  max-width: 650px;
  margin: 0 auto;
}

.wp-caption {
  margin: 0 auto;
}

.author-list-box {
  height: 200px;
  position: relative;
  overflow: hidden;
}
.author-list-box .read-more { 

  position: absolute; 
  bottom: 0; left: 0;
  width: 100%; 
  text-align: center; 
  margin: 0; padding:0; 
  
  /* "transparent" only works here because == rgba(0,0,0,0) */ 
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, transparent),color-stop(1, #fff));
        background-image: -webkit-linear-gradient(top, transparent, #fff);
        background-image: -moz-linear-gradient(top, transparent, #fff);
        background-image: -ms-linear-gradient(top, transparent, #fff);
        background-image: -o-linear-gradient(top, transparent, #fff);
}
.entry-content img{
  width: 100%;
height: auto;
margin: 0 auto;
}


.post-cover h4{
  margin:20px;
  color:#fff;
  padding-top: 30px;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

.author-list-div{
  margin: 10px 0; 
}
  .hero-content{
  padding-top: 100px;
  color: white;
position: relative;
text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

.footer-subscribe-email{
  height:10px; 
  background-image: url('img/brillant.png');

}
a:hover,a:focus{
  opacity:.70;
  filter:alpha(opacity=70);


}
a:link { /*color:#000000;*/ 

    }      /* unvisited link */
a:visited {
/*color: #918F8F;*/
}
a:active { }  /* selected link */
a {
    text-decoration: none;
    color:none;
}

.mailchimp{
  margin:0 auto; padding-top: 6px;
}
.post-cover h1{
  font-size:36px; color:#fff; 
  margin:48px; 
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
  border-radius: 2px;
}
.newest-title h1{
  margin-top:5px;
}

.newest-selection{
  margin: 10px;
}


.category{
  margin:5px;
    height:100px;
  background-color: blue;
  border-radius: 2px;
}

.category h1{
  color:white;
  font-size: 32px;
  margin: 0;
  padding:29px;

}
.category-div{
 margin-top: 35px;
}

  .slogan{
  padding: 4px 0 0 15px; font-size:13px;
}

.footer-site-info{
  width: 307px;
float: right;
margin: 0 23px;
}
.footer-social-info{
  width:206px; float:left; margin-left:23px;

}
.pager-div{
margin: 0 auto;
min-width: 300px;
max-width: 745px;
}

.pager li>a, .pager li>span {
   margin:20px;
   border-radius: 2px
}

.category-nav{
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
  min-height: 60px;
margin: 0 auto 24px auto;
min-width: 300px;
max-width: 745px;
}





.bs-callout {
margin: 20px 0;
padding: 20px;
border-left: 3px solid #eee;
}
.bs-callout-info {
background-color: #f4f8fa;
border-color: #5bc0de;
}
.post-info{
  font-size: 16px;
  color:#ccc;
  font-weight: 300;
  padding-bottom: 10px;
}
.photo-credit{
  margin-top:-25px; 
  color:#fff;
  margin-right: 10px;
  float:right;
}

.read-next{

}
.author-info img{
  width:60px;
  height:60px;
  border-radius: 60px;
  float:left;
  margin-left: 0px;

}
.author-info span{
  float:left;
  

}
.ad-in-article{
  width:100%;
  background-color: rgb(230, 230, 230);
  height:80px;

}
.author-info h1{
  padding-left: 80px;
  padding-top: 10px;
}

/* Set the image to fill its parent and make transparent */
.post-cover img {
   
   width: 100%;
   height: auto%;

   /* IE 8 */
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   /* IE 5-7 */
   filter: alpha(opacity=0);
   /* modern browsers */
   /*opacity: 0;*/
}
.post-social-horizon img{
  width:45px;
  height:auto;

  float:right;
  padding: 7px 5px 0 4px;

}
.post-social-horizon-bottom img{
  width:45px;
  height:auto;

  float:right;
  padding: 7px 5px 0 4px;

}
.post-social-horizon-bottom {
  width: 285px;
  margin: -32px auto 0 auto;

  background-color: #fff;
  padding:3px;
  height:90px;


}


.post-social-left{
  position: fixed;
top: 350px;
left: 5px;
display: block;
z-index: 999999;
border-radius: 2px;
background-color: #fff;
padding:6px 3px;
}
.post-cover {
 
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: 100%;  clear: both;
}



h1{
  margin-top: 50px;
  font-weight: 900;
  padding:15px;
}

.tnl-hot-comment{
  padding:20px;
  border-bottom: 1px solid #eee;


}
.tnl-social{
  padding:8px 20px;
}

.tnl-ads .HolyGrail-left .HolyGrail-right{
  background-color: rgb(230, 230, 230);;
}
.tnl-panel{
  margin: 11px 10px;
  background-color: #fff;
    border-style: solid;
border-width: 1px;
border-color: #E0E0E0;
border-radius: 2px;
}
#hero{
  /*
  width:100%;
  height:auto;
  z-index: -1;
  */
  background-position: center center;
background-repeat: no-repeat;
overflow: hidden;
background-size: 100%;
clear: both;
}

#hero background-image {

}

#hero img{
  /*
  min-height: 150px;
  max-height: 303px;
  z-index: -1;
  */
}

#tnl-footer{

  background-color: #fff;

}

.tnl-subject-wrap{
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #E0E0E0;

}


.tnl-subject{
  font-size: 15px;
  padding: 14px 20px;
}

.tnl-subject span{
  background-color: #fff;
  padding-right: 10px;
}

.tnl-subject hr{
  margin-top: -11px;
  padding:0 10px;
  margin-bottom:0px;
}

.footer-list-inline{
  list-style: none;
  margin-bottom: 0px;
}

.footer-list-inline li{
  float:left;
  padding: 28px 3px;;
}
.sidebar-list-inline{
  list-style: none;
  margin-bottom: 0px;
}
.sidebar-list-inline li{
    float:left;
  padding: 3px 5px;
}

.HolyGrail-left .post-list-item h3{
  font-size: 15px;

}
.HolyGrail-left .post-list-item-hot h3{
  font-size: 15px;

}
.HolyGrail-right .post-list-item h3{
  font-size: 15px;

}
.HolyGrail-right .post-list-item-hot h3{
  font-size: 15px;

}
.tnl-article-title{

}

.more-content{
  float: right;
  color: #979797;
  font-size: .9em;
  margin-top: -11px;
  padding-left: 10px;
}

.more-content-bottom{
  float: right;
color: #979797;
font-size: .9em;
background-color: #fff;
margin-top: -20px;
padding-left: 10px;
}
.post-list-item{
padding: 15px 31px 15px 21px;
min-height: 60px;
margin: 0 auto;
min-width: 300px;
max-width: 745px;
}
.post-list-item-hot{
padding: 11px 31px 11px 21px;
min-height: 60px;
margin: 0 auto;
min-width: 300px;
max-width: 745px;
}
.post-list-item img {
  width:60px;
  height:60px;
  float:left;
  border-radius: 2px;

}
.post-list-item-hot img {
  width:60px;
  height:60px;
  float:left;
  border-radius: 2px;

}
.post-list-item h3{
  margin: 0 0 0 81px;
  line-height: 1.4em;
  font-size: 20px;
  font-weight: 900;
}
.post-list-item-hot h3{
  margin: 0 0 0 81px;
  line-height: 1.4em;
  font-size: 20px;
  font-weight: 900;
}

.post-list-item h6{
  margin: 5px 0 0 83px;
  line-height: 1.4em;
  font-size: 13px;
  color: #919191;
}
.post-list-item-hot h6{
  margin: 5px 0 0 83px;
  line-height: 1.4em;
  font-size: 13px;
  color: #919191;
}
.post-list-item-content{
  min-height: 60px;
}
.post-list-item-content-hot{
  min-height: 60px;
}
.HolyGrail{
  max-width: 1440px;
  -webkit-box-shadow:0px 5px 10px #1c1c1c;
  -moz-box-shadow:0px 5px 10px #1c1c1c;
  box-shadow:0px 5px 10px #1c1c1c;
  margin:0 auto;
  -webkit-box-shadow: 0 0 55px 14px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0 0 55px 14px rgba(0, 0, 0, 0.32);
  box-shadow: 0 0 55px 14px rgba(0, 0, 0, 0.32);
}

.HolyGrail,
.HolyGrail-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  

}
.HolyGrail-body-post {
  max-width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: rgb(230, 230, 230);
  margin-top: 50px;

}


.HolyGrail-left {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  padding-bottom: 0px;
}

.HolyGrail-left-post {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -2;
  -moz-box-ordinal-group: 0;
  -ms-flex-order: -2;
  order: -2;
  padding-bottom: 0px;
}


@media (min-width: 768px) {

.tnl-content li{
  font-size: 22px;
}
    .google-plus-margin{
  margin-top: 8px;
}
  .item { width: 32%; }
.mailchimp{
  margin:0 auto; padding-top: 6px; width:470px;
}

#hero{
  height:300px;
  margin-top: 50px;
}

.mailchimp label{
  margin-right: 18px;
}
  .HolyGrail-body {
      -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-preferred-size: auto;
    /*flex-direction: row;
    flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;*/
    
  }

    .HolyGrail-body-post {
      -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -ms-flex-preferred-size: auto;
  margin-top: 50px;

  }
  
  .HolyGrail-content {
     -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;


    border-radius: 1px;
    background-color:#fff;

  }
   .HolyGrail-content-post {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
    margin-top: 12px;
    border-radius: 1px;
    background-color:#fff;
    margin-right: 2%;
  }
  .HolyGrail-left{


-webkit-box-flex: 0;
-webkit-flex: 0 0 24em;
-moz-box-flex: 0;
-ms-flex: 0 0 24em;
flex: 0 0 24em;

  } 
    .HolyGrail-left-post{

background-color: #E0E0E0;
-webkit-box-flex: 0;
-webkit-flex: 0 0 2em;
-moz-box-flex: 0;
-ms-flex: 0 0 2em;
flex: 0 0 2em;

  }



  .HolyGrail-right {
    /* 22em is the width of the columns */
-webkit-box-flex: 0;
-webkit-flex: 0 0 23em;
-moz-box-flex: 0;
-ms-flex: 0 0 23em;
flex: 0 0 23em;
  }
}

@media (min-width: 1326px){
.visible-xxl{
  display:visible;
}

}

@media (max-width: 1325px){
  .visible-xxl{
  display:none;
}

}

@media (min-width: 1200px) {
  .author-info{
 padding-left: 12%;
}
.category-header h1{
  font-size: 4em;
  color:#fff;
  float:left;

margin-top: 11px;
margin-left: 14%;


}

#hero{
  height:300px;
  margin-top: 50px;
}
.post-cover{
  height:500px;
}

	.hidden-mid{
		display:visble;
	}
  .visible-mid{
    display:none;
  }
  .hero-content{
  padding-top: 60px; 
}
  .hero-content h3{
  font-size: 29px; 
  /*margin: -15px 0 0 124px; color:#fff !important;*/
  padding: 20px 20px 20px 20px;
}
.hero-content h6{
  /*margin-left: 127px;*/

}
.hero-post-img img{
  width: 100px; height: auto; 
}

  h1{
    font-size: 32px;
    padding-top: 0;
    margin: 10px 10% 3% 12%;
  }
  p{
    margin: 10px 10% 3% 12%;
    font-size: 22px;
    line-height: 40px;
  }
  h2{
    margin: 1px 10% 3% 12%;
    font-size: 22px;    
  }
  .entry-content ul, ol{
  margin: 10px 10% 3% 12%;
}
  .hidden-large{
    display:none;
  }


.category-header{
height:256px;
position: relative;
padding: 30px 0px;
color: #fff;
padding: 75px 0px;
text-shadow: 0 1px 0 rgba(0,0,0,.1);
background-color: #548399;
background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
background-image: linear-gradient(to bottom,#3D597C 0,#547D99 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
margin-top: 30px;
}
.newest-title{
  width:250px;
  float:left;
  margin:0px;
}
     .HolyGrail-content-post {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;

    margin-top: 12px;
    border-radius: 1px;
    background-color:#fff;
    margin-right: 0;
    

  }


}
@media (max-width: 1199px) {

  .newest-title{
  width:250px;
  float:left;
  margin:5px 0 10px 0;
} 
  .author-info{
 padding-left: 10%;
}
	.hidden-mid{
		display:none;
	}
  .visible-mid{
    display:visible;
  }
  .hero-content{
  padding-top: 6%;
  }
    .hero-content h3{
  font-size: 29px; /*margin: -15px 0 0 124px;*/ color:#fff !important;
  padding: 0 20px 0 20px;
}
.hero-content h6{
  /*margin-left: 127px;*/
 margin-bottom: 0;
}
.hero-post-img img{
  width: 100px; height: auto; margin-top: 0px;
}
  .category-header{
height:256px;
position: relative;
padding: 30px 0px;
color: #fff;
padding: 75px 0px;
text-shadow: 0 1px 0 rgba(0,0,0,.1);
background-color: #548399;
background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
background-image: linear-gradient(to bottom,#3D597C 0,#547D99 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
margin-top: 50px;
}
.post-cover{
  height:400px;
}
#hero{
  height:250px;
  margin-top: 50px;
}

  h1{
    font-size: 28px;
    margin:10px 10% 3% 10%;
    margin-top: 15px;
  }
     .HolyGrail-content-post {

     -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  flex: 1;


    margin-top: -12px;
    border-radius: 1px;
    background-color:#fff;


  }
    .HolyGrail-content-post {
    margin-top: 18px;
  }
  p{
    margin:10px 10% 3% 10%;
    font-size: 20px;
    line-height: 36px;
  }
  .entry-content ul, ol{
  margin: 10px 10% 3% 12%;
}
.category-header h1{
  font-size: 4em;
  color:#fff;
  float:left;

margin-top: 11px;
margin-left: 14%;


}





}

@media (max-width: 992px){
    .item { width: 47%; }
  .category-header h1{
  font-size: 4em;
  color:#fff;
  text-align: center;
  float:none;
  margin-left: 0;
  }
  #hero{
  height:200px;
  margin-top: 50px;
}
  .category-name {

  }
  .category-header{
height:256px;
position: relative;
padding: 10px 0px;
color: #fff;
margin-top: 50px;

text-shadow: 0 1px 0 rgba(0,0,0,.1);
background-color: #548399;
background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
background-image: linear-gradient(to bottom,#3D597C 0,#547D99 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
}
  .hero-content h3{
  font-size: 18px; /*margin: -15px 0 0 124px;*/ color:#fff !important;
}
.hero-content h6{
  /*margin-left: 127px;*/
}
.hero-post-img img{
  width: 75px; 
  height: auto; 
  margin-top: -10px;
  margin-left: 25px;
} 
.hero-content{
  padding-top: 6%;
  }

  .post-cover{
  height:300px;
}

}
@media (max-width: 768px) {
    .google-plus-margin{
  margin-top: 0px;
}
.tnl-content li{
  font-size: 18px;
}
    .item { width: 96%; }
  .category-header{
height:256px;
position: relative;
padding: 30px 0px;
color: #fff;
padding: 5px 0px;
text-shadow: 0 1px 0 rgba(0,0,0,.1);
background-color: #548399;
background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
background-image: linear-gradient(to bottom,#3D597C 0,#547D99 100%);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
margin-top: 50px;
}
#hero{
  height:180px;
  margin-top: 50px;
}
.mailchimp{
  margin:0 auto; padding-top: 6px; width:255px;
}

  .HolyGrail-content-post {
    margin-right: 0;
    margin-top: 0px;
    -ms-flex-preferred-size: auto;

    
  }
  h1{
    margin:10px 5% 3% 5%;
  }
  p{
    margin:10px 5% 3% 5%;
    font-size: 18px;
    line-height: 34px;
  }
  .entry-content ul, ol{
  margin: 10px 5% 3% 5%;
}
    .author-info{
 padding-left: 4%;
}
.hero-post-img img{
  width: 65px; 
  height: auto; 
  margin-top: 0px;
  margin-left: 25px;
} 
.hero-content{
  padding-top: 5%;
  }
.post-cover{
  height:250px;
}

.wp-caption{
  width: 90% ! important;
}

}

@media (max-width: 550px) {

  .tnl-content li{
  font-size: 15px;
}
  .post-cover{
  height:167px;
}
#hero{
  height:167px;
  margin-top: 50px;
}
  .newest-title{
  width:140px;
  float:left;
  margin:9px 0 10px 0;
  } 

  .newest-title h1{
  padding-left: 0px !important;
  padding-right: 0px !important;
  } 
    .visible-mid{
    display:none;
  }
  .post-list-item h3{
  margin: 0 0 0 81px;
  line-height: 1.4em;
  font-size: 15px;
  }
  .post-list-item-hot h3{
  margin: 0 0 0 81px;
  line-height: 1.4em;
  font-size: 15px;
  }
  .footer-list-inline li{
  float:left;
  padding: 5px;
  }
  .footer-list-inline{
  padding-left: 3px;
  }
  .hidden-xxs{
    display:none;
  }


  h1{    
    font-size: 18px;
    margin:5% 5% 2% 5%;
    margin-top: 10px;
  }
  .HolyGrail-content-post {
    margin-right: 0;
  }
  p{
    margin:5% 5% 2% 5%;
    font-size: 15px;
    line-height: 30px;
  }
  .entry-content ul, ol{
  margin: 5% 5% 2% 5%;
}
    .hero-content h3{
  font-size: 16px; 
  /*margin: -15 0 0 85px; color:#fff !important;*/
}
.hero-content h6{
  /*margin-left: 85px;*/
}
.hero-post-img img{
  width: 60px; height: auto; margin-top: 3px;
  margin-left: 0px;
}
.hero-content{
  padding-top: 15px;
  }

.wp-caption{
  width: 90% ! important;
}


}
