@charset "UTF-8";
@media (min-width:768px) {
}
.Sponsored img {
	height: 30px;
	width: auto;
}
.img {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	position: relative;
	display: block;
}

body {
	font-family:  Helvetica, Heiti TC, Segoe UI, "微軟正黑體";
}

.HolyGrail .HolyGrail-body.tnl-subject-wrap .HolyGrail-content .topics .articleMain h6 {
	font-size: 12px;
}
.articleMainContent {
	float: right;
	font-size: 16px;
}
.topics p {
	font-size: 14px;
	line-height: 1.7em;
	margin: 0px;
	padding: 0px;
	text-align: justify;
}
.topics h3 {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	line-height: 1.5em;
	color: #fff;
	font-weight: 900;
}
.btnReadMore {
	color: #FFF;
	background-color: #428bca;
	border-radius: 5px;
	float: right;
	margin-top: 10px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}
ul, ol {
	list-style-type: none;
}
.listArticle li .img {
	margin-bottom: 10px;
	height: 250px;
}
.listArticle li {
	margin-bottom: 10px;	/*float: left;
	width: 33%;*/
}
.listArticle li .articleMainContent {
	padding: 0px;
	height: 150px;
	text-align: justify;
	float: left;
}
.listArticle {
	margin: 0px;
	padding: 0px;
}
.topic .content {
}
.listArticle.article7 li {
	margin-bottom: 10px;
	float: left;
	height:auto;
}
.listArticle.article7 .main {
}
.listArticle.article7 li .img ,.col-md-6.main .img{
	height: 150px;
	margin-bottom: 5px;
	width: 100%;
	margin-right: 0px;
	margin-left: 0px;
}
.listArticle.article7 li .articleMainContent h3 {
	font-size: 18px;
}
.listArticle.article7 .main .articleMainContent h3 {
	font-size: 24px;
}

.listArticle.article7 li .articleMainContent {
	height: 3.5em;
	margin-bottom: 10px;
}
.listArticle.article7 .main .articleMainContent {
	height: 195px;
	margin-bottom: 10px;
}
.listArticle.article7 .main .btnReadMore {
	margin-right: 45px;
}
.bannerSponsored {
	background-repeat: no-repeat;
	background-position: center center;
	height: 100px;
	background-size: cover;
	text-shadow: 2px 2px #000;
	font-size: 24px;
	color: #FFF;
	text-align: center;
	line-height: 100px;
	margin-bottom: 20px;
	margin-top: 10px;
}
.iconArticle {
	background-color: #01A2D6;
	height: 50px;
	width: 50px;
	filter: Shadow(Color=000, Direction=2);
	text-align: center;
	position: absolute;
	left: -10px;
	top: -10px;
	box-shadow: 2px 2px 2px #666;
	border-radius: 40px;
	font-size: 13px;
	color: #FFF;
	padding-top: 7px;
}
.bgOrange {
	background-color: #F60;
}
.listArticle.article7 li .articleMainContent h3 {
	font-size: 15px;
}
.tnl-subject-wrap.content {
	padding-top: 50px;	/*height: 500px;
	overflow: hidden;*/
	padding-bottom: 50px;
	clear: both;
	padding-right: 50px;
	padding-left: 50px;
}
hr {
	clear: both;
}
.entry-content .listArticle {
	margin: 0px;
	padding: 0px;
}
.listArticle li a .img h4 {
	color: #FFF;
	background-color: #428bca;
	text-align: center;
	margin: auto;
	padding: 10px;
	width: 60%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: block;
}
.topicContent .listArticle {
	width: 80%;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
}
.topicContent .listArticle li a .img {
	height: 150px;
}
.topicContent .listArticle li a {
	font-size: 14px;
	color: #333;
}
/*
p {
	font-size: 14px;
	line-height: 1.5em;
}
*/
.listArticle hr {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	margin: 0px;
	padding: 0px;
}
.topicContent .articleMainContent {
	height: 65px;
}
.topicContent .listArticle li a .articleMainContent {
	height: auto;
	margin-bottom: 20px;
}
.topicContent .listArticle li a .articleMainContent h2 {
	/*font-size: 50px;*/
}
.listArticle .main a .articleMainContent.text-center {
	font-size: 16px;
	line-height: 1em;
}
.topicContent .tnl-panel.listArticle {
	width: auto;
	margin-top: 11px;
	margin-right: 10px;
	margin-bottom: 11px;
	margin-left: 10px;
}
.tnl-panel.listArticle div .tnl-subject {
	background-color: #5CB85C;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #FFF;
}
.img.media-object {
	float: left;
	height: 100px;
	width: 100px;
	margin-right: 10px;
}
.topicContent .post-list-item-hot {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	border-bottom-color: #CCC;
}
.topicContent .post-list-item-content-hot a h3 {
	text-align: justify;
}
.topicContent .post-list-item-content-hot {
	min-height: 100px;
}
.topicContent .post-list-item-hot.active {
	color: #FFF;
	background-color: #5294CE;
}
.topicContent .active .post-list-item-content-hot a {
	color: #FFF;
}
.tnl-panel.listArticle .post-list-item-hot .img.media-object h1 {
	font-size: 50px;
	line-height: 1.5em;
	color: #FFF;
	text-align: center;
}
.topicContent .media {
	height: 80px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.tnl-panel.listMedia {
	background-color: transparent;
}
.listMedia {
	margin: 11px 10px;
}
.listArticle .advBanner .img,.listArticle li {
}
.topics .hero-content div .text-center div {
	width: 80%;
	margin: 10px auto;
	font-size: 14px;
	background-color: rgba(0, 0, 0, 0.39);
	padding: 15px;
	color: #FFFAFA;
	border-radius: 5px;
}
.topicContent .listArticle li {
	height: auto;
}
.articleMain {
}
.post-cover {
	overflow: visible;
}
